
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Metropolee | Professionals at your fingertips</title>
	<meta name="description" content="">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
	<link rel="apple-touch-icon" href="/images/favicons/favicon-152.png">
	<link rel="icon" href="/images/favicons/favicon-32.png">
	<!--[if IE]>
	    <link rel="shortcut icon" href="/images/favicons/favicon-32.ico">
	<![endif]-->
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/images/favicons/favicon-152.png">
	<!-- for Facebook -->
	<!--<meta property="og:title" content="<%= @title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="images/screenshot.png" />
	<meta property="og:url" content="http://duplii.com" />
	<meta property="og:description" content="<%= @description %>" />
	<meta property="og:site_name" content="Duplii – We Make Duplication Happen" />
	<!-- for Twitter --*>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@dupliiapp" />
	<meta name="twitter:title" content="<%= @title %>" />
	<meta name="twitter:description" content="<%= @description %>" />
	<meta name="twitter:image" content="images/screenshot.png" />-->
</head>
<body class="homepage">
		
	<header class="has-padding">
		<div class="outer-content">
			<a href="/" title="Metropolee | Professionals at your fingertips" class="logo to-blur"><object type="image/svg+xml" data="/images/logo.svg">
				<!--[if lt IE 9]><img src="/images/logo.png" alt="alt"/><![endif]-->
			</object></a>
			<button class="menu-trigger"><span></span></button>
			<div class="menu-container">
				<nav role="navigation">
					<ul class="header-menu">
						<li class="menu-voice home-link hide-desktop"><a href="/" title="Metropolee | Professionals at your fingertips">Home</a></li>
						<li class="menu-voice product-link"><a href="/product.html">Product</a></li>
						<li class="menu-voice distributors-link"><a href="/distributors.html">Distributors</a></li>
						<li class="menu-voice certified-link"><a href="/certified.html">Certification</a></li>
						<li class="menu-voice about-link"><a href="/about.html">About us</a></li>
						<li class="menu-voice"><a href="http://" class="button button-solid">Sign up</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="to-blur">
<section class="has-padding home-main">
	<div class="outer-content">
		<div class="home-main__left">
			<span class="heading1">Welcome to Metropolee</span>
			<p>It's a glad welcome we bring to you, filled with the desires, hopes and dreams all of us share in the street of Metropolee.</p>
			<button class="button button-solid">Sign up</button>
			<button class="button">Read more</button>
		</div>
	</div>
</section>

<section class="home-features-container has-padding outer-content">
	<span class="heading2">Why Metropolee</span>
	<div class="home-features">
		<div class="home-feature">
			<div class="img-placeholder"></div>
			<p>Coming together is the beginning. Working together is success. Metropolee business model brings together a new generation of professionals, an amazing product and the most efficient network.</p>
		</div>
		<div class="home-feature">
			<div class="img-placeholder"></div>
			<p>With our set of customisable applications every business in town will have the opportunity to reach new clients and keep the old ones loyal by integrating e-commerce, coupons, product catalog, and much more.</p>
		</div>
		<div class="home-feature">
			<div class="img-placeholder"></div>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
		<div class="home-feature">
			<div class="img-placeholder"></div>
			<p>With our set of customisable applications every business in town will have the opportunity to reach new clients and keep the old ones loyal by integrating e-commerce, coupons, product catalog, and much more.</p>
		</div>
	</div>
</section>

<section class="last-block">
	<div class="has-padding centered-content">
		<span class="heading2-w">Certification</span>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
		<button class="button">Sign up</button>
	</div>
	<div class="has-padding green-block">
		<div class="wrap-content centered-content">
			<span class="heading2-w">Subscribe to our newsletter</span>
			<form method="post" action="">
				<input type="email" name="email" value="" class="inline-input-transparent" /><input type="submit" name="submit" value="Sign up" class="button button-solid inline-input-solid" />
			</form>
		</div>
	</div>
</section>

		
		<footer class="has-padding outer-content">
			<small class="copyright">
				<object type="image/svg+xml" data="/images/logo-footer.svg">
					<!--[if lt IE 9]><img src="/images/logo-footer.png" alt="alt"/><![endif]-->
				</object> ©2015 Metropolee
			</small>
			<nav role="navigation">
				<ul class="footer-menu">
					<li class="product-link"><a href="/product.html">Product</a></li>
					<li class="distributors-link"><a href="/distributors.html">Distributors</a></li>
					<li class="certified-link"><a href="/certified.html">Certification</a></li>
					<li class="about-link"><a href="/about.html">About Us</a></li>
				</ul>
			</nav>
		</footer>
	
	</div>

	<script src="/js/scripts-compiled.js"></script>

</body>
</html>