
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Metropolee | Professionals at your fingertips</title>
	<meta name="description" content="">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
	<link rel="apple-touch-icon" href="images/favicons/favicon-152.png">
	<link rel="icon" href="images/favicons/favicon-32.png">
	<!--[if IE]>
	    <link rel="shortcut icon" href="/images/favicons/favicon-32.ico">
	<![endif]-->
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="images/favicons/favicon-152.png">
	<!-- for Facebook -->
	<!--<meta property="og:title" content="<%= @title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="images/screenshot.png" />
	<meta property="og:url" content="http://duplii.com" />
	<meta property="og:description" content="<%= @description %>" />
	<meta property="og:site_name" content="Duplii – We Make Duplication Happen" />
	<!-- for Twitter --*>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@dupliiapp" />
	<meta name="twitter:title" content="<%= @title %>" />
	<meta name="twitter:description" content="<%= @description %>" />
	<meta name="twitter:image" content="images/screenshot.png" />-->
</head>
<body class="distributors">
		
	<header class="has-padding">
		<div class="outer-content">
			<a href="/public/" title="Metropolee | Professionals at your fingertips" class="logo to-blur"><object type="image/svg+xml" data="images/logo.svg"></object></a>
			<button class="menu-trigger"><span></span></button>
			<div class="menu-container">
				<nav role="navigation">
					<ul class="header-menu">
						<li class="menu-voice home-link hide-desktop"><a href="/public/" title="Metropolee | Professionals at your fingertips">Home</a></li>
						<li class="menu-voice product-link"><a href="product.html">Product</a></li>
						<li class="menu-voice distributors-link"><a href="distributors.html">Distributors</a></li>
						<li class="menu-voice certified-link"><a href="certified.html">Certification</a></li>
						<li class="menu-voice about-link"><a href="about.html">About us</a></li>
						<li class="menu-voice"><a href="#" class="">Login</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="to-blur">
<section class="hero-block hero-block--distributors has-padding">
	<div class="centered-content">
		<span class="heading1">Become a distributor</span>
		<p>Coming together is the beginning. Working together is success. Bring technology to local businesses and take your share of a huge market.</p>
		<a href="#signup" class="button button-solid">Sign up</a>
	</div>
</section>

<section class="has-padding has-v-padding">
	<div class="single-column">
		<h1>Why should you become a distributor</h1>
		<p>With Metropolee you will tap into the ever growing tech market and take your fair share of revenue by selling high-quality services that will bring a concrete advantage to your customers.</p>
		<p>Get yourself into this cosmopolitan place, full of enthusiastic entrepreneurs and successful people. Bring innovation to people's fingertips. Earn your share of this big opportunity.</p>
		<p>See you downtown!</p>
	</div>
	
	<div class="double-column">
		<div class="left-pane">
			<img src="images/img/graph.svg" alt="" />
		</div>
		<div class="right-pane">
			<h2>Why the app market is a business opportunity</h2>
			<p>Start asking yourself two simple questions: Do you know anyone that owns a small business? How many of those businesses use apps?</p>
			
			<p>Take a look around you. People are checking out their phones every five to fifteen minutes. Push notifications are popping up continuously.</p>
			
			<p>This market lives in the pockets of billions of enthusiastic people around the globe. In the last years the use of applications in our daily life increased dramatically and companies are reshaping the way they do business.</p>
			
			<h2>How does it work</h2>
			<p>Metropolee provides a super easy platform to build applications tailored to the needs of local businesses. You find the clients and our certified distributors will build the app for them.</p>
			
			<p>Clients will be able to choose from dozens of different features such as digital loyalty cards, push notifications, in-app booking and so on. They will experience high levels of customer engagement and will keep the subscription active forever.</p>
			
			<p>You just find the customers and start earning money. Metropolee aims to make small businesses function at their best. Your task is to reach them and show them that all they ever needed was at their fingertips.</p>
		</div>
	</div>
</section>

<section class="last-block has-v-padding clearfix">
	<div class="vantaggi-container has-padding centered-content">
		<span class="heading2-w">Benefits of Metropolee</span>
		<div class="vantaggi">
			<div class="horizontal-scroll">
				<div class="vantaggio">
					<img src="images/icons/icons-dist-1.svg" alt="" />
					<span class="heading2-w">Professionals at your fingertips</span>
				</div>
				<div class="vantaggio">
					<img src="images/icons/icons-dist-2.svg" alt="" />
					<span class="heading2-w">Client management</span>
				</div>
				<div class="vantaggio">
					<img src="images/icons/icons-dist-3.svg" alt="" />
					<span class="heading2-w">Winning business model</span>
				</div>
				<div class="vantaggio">
					<img src="images/icons/icons-dist-4.svg" alt="" />
					<span class="heading2-w">Lifelong commissions</span>
				</div>
			</div>
		</div>
	</div>
	<img src="images/img/distr-img-2.svg" alt="" class="city" />
	<div id="signup" class="has-padding single-column">
		<span class="heading2-w">Sign up to Metropolee</span>
		<form method="post" action="">
			<p class="input-container input-container-fullwidth"><input type="text" name="sponsor" id="sponsor" value="" tabindex="1" />
				<label for="sponsor">Sponsor</label>
			</p>
			<p class="input-container"><input type="text" name="username" id="username" value="" tabindex="2" />
				<label for="username">Username</label>
			</p>
			<p class="input-container"><input type="email" name="email" id="email" value="" tabindex="3" />
				<label for="email">Email</label>
			</p>
			<p class="input-container"><select name="country" tabindex="4">
				<option disabled selected>Country</option>
				<option>USA</option>
				<option>Canada</option>
				<option>Spain</option>
				<option>Italy</option>
				<option>United Kingdom</option>
			</select></p>
			<p class="input-container"><input type="text" name="zip" id="zip" value="" tabindex="5" />
				<label for="zip">Zip/Postal Code</label>
			</p>
			<p class="input-container input-container-fullwidth"><span class="captcha-container"><input type="text" name="captcha" value="" placeholder="captcha" class="captcha-transparent" tabindex="6" /><span class="captcha-solid"></span></span>
			</p>
			<p class="terms-container"><input type="checkbox" name="terms" id="terms" value="" class="" tabindex="7" /><label for="terms"><span></span>I accept the terms and conditions</label></p>
			<p class="submit-container"><input type="submit" name="submit" value="Sign up" class="button button-solid" tabindex="8" /></p>
		</form>
	</div>
</section>

		
		<footer class="has-padding outer-content">
			<small class="copyright">
				<object type="image/svg+xml" data="images/logo-footer.svg"></object> ©2015 Metropolee
			</small>
			<nav role="navigation">
				<ul class="footer-menu">
					<li class="product-link"><a href="product.html">Product</a></li>
					<li class="distributors-link"><a href="distributors.html">Distributors</a></li>
					<li class="certified-link"><a href="certified.html">Certification</a></li>
					<li class="about-link"><a href="about.html">About Us</a></li>
				</ul>
			</nav>
		</footer>
	
	</div>

	<script src="js/scripts-compiled.js"></script>

</body>
</html>